blockquote {
    font-style: italic;
}

html {
    background-color: #1b1b1e;
    color: white;
    font-family: helvetica, arial, sans-serif;
}

section {
    margin-top: 2.5em;
}

h1 {
    background-color: #e83f6f;
    color: #1b1b1e;
    display: inline-block;
    font-family: futura;
    font-size: 1.5em;
    font-weight: normal;
    padding: 0em 0.5em 0em 0.5em;
}

ul, ol {
    font-size: 1em;
    line-height: 1.66em;
}

a {
    color: white;
}

a:hover {
    color: white;
}

footer {
    margin: 3em 0em 0.5em 0em;
    text-align: center;
}

header > p {
    font-family: futura;
    font-size: 1.75em;
}

.container {
    margin: 0em auto;
    max-width: 640px;
}

#projects {
    background-color: #2274a5;
}

#here {
    background-color: #ffbf00;
}

#elsewhere {
    background-color: #e83f6f;
}

#contact {
    background-color: #32936f;
}

