body {
	background-color: #2f3640;
	color: #f5f6fa;
	font-family: "futura";
    margin: 0 auto;
    max-width: 512px;
	text-align: center;
}

footer {
	font-size: 0.75rem;
	margin-top: 5rem;
}

section {
	margin-top: 5rem;
	margin-bottom: 0.5rem;
}

#container {
	padding: 5rem 1rem 1.5rem 1rem;
}

#currently {
	font-size: 0.75rem;
	font-style: italic;
	margin: 0rem auto;
	width: 80%;
}

.list_of_links {
	display: block;
	list-style: none inside;
	padding-left: 0;
}

#headshot {
	border-radius: 50%;
	border: 0.25rem solid #dcdde1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%
}

#summary {
	font-size: 1.25rem;
    font-weight: 500;
	text-align: center;
}

a:link {
	color: #f5f6fa;
}

a:visited {
	color: #f5f6fa;
}

a:hover {
	color: #f5f6fa;
}

a:active {
	color: #f5f6fa;
}
