html, body
{
	background-color: #FEFEFE;
	color: #2B2B2B;
	font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 1.75;
	margin: 0;
	text-rendering: optimizeLegibility;
}

h1
{
	color: black;
	font-size: 1em;
	font-weight: 500;
	margin-top: 0.5em;
}

img
{
	max-width: 100%;
	height: auto;
}

ul, ol
{
	margin-top: -1em;
	padding-left: 1em;
}

li
{
	font-size: 0.8em;
}

strong
{
	font-weight: 600;
}

footer
{
	text-align: center;
}

a:link, a:visited, a:active, a:hover
{
	color: #2B2B2B;
}

#herotest
{
	/*background-size: auto;*/
	width: 100%;
}

#hero_background
{
	background-color: #1F1F21;
}

#hero_content
{
	color: white;
	margin: 0 auto 0 auto;
	max-width: 50em;
	overflow: auto;
	padding: 2.5em 0.5em 0 0.5em;
}

#hero_content a:link,
#hero_content a:visited,
#hero_content a:active,
#hero_content a:hover
{
	color: #c0c0c0;
}

#hero_content_left
{
	float: left;
	max-width: 25%;
}

#hero_content_right
{	
	float: right;
	padding: 0 2.5% 0 2.5%;
	max-width: 70%;
}

#hero_description
{
	font-size: 2em;
	margin-top: -0.4em;
	margin-left: 0.14em;
}

#main_content
{
	clear: both;
	font-size: 1.75em;
	margin: 0 auto 0 auto;
	max-width: 25em;
	padding: 0 0.25em 0 0.25em;
}

#main_content p
{
	margin: 0;
}

#contact_list li,
#here_list li,
#elsewhere_list li
{
	list-style: none;
}

#portfolio
{
	background-color: #1F1F21;
	color: white;
}

#portfolio a:link,
#portfolio a:visited,
#portfolio a:active,
#portfolio a:hover
{
	color: white;
}

#backlink
{
	display: block;
	padding: 2em 0 0 2em;
}

.portfolio_app
{
	margin-left: 2em;
}

.portfolio_app_icon
{
	width: 40px;
	vertical-align: text-bottom;
}

.portfolio_app_title
{
	font-size: 40px;
	margin-left: 10px;
}

.portfolio_app_description
{
	max-width: 44em;
}

.portfolio_app_screenshot
{
	padding-right: 10px;
    height: 284px;
	width: auto;
}

.fa-envelope
{
	color: #FF2A68;
}

.fa-twitter
{
	color: #34AADC;
}

.fa-phone
{
	color: #FF9500;
}

.fa-map-marker
{
	color: #0BD318;
}

.fa-github
{
	color: #1F1F21;
}

.fa-trello
{
	color: #34AADC;
}

.fa-stack-overflow
{
	color: #FF9500;
}

.fa-folder
{
	color: #453ccc;
}

.fa-link
{
	color: #FF2A68;
}

.fa-thumb-tack
{
	color: #FF2A68;
}

.fa-star
{
	color: #FFCC00;
}

.fa-gamepad
{
	color: #1F1F21;
}

#code_list li
{
	margin-bottom: 1em;
	margin-left: 1.66em;
}
