html, body
{
	background-color: #FEFEFE;
	color: #2B2B2B;
	font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.75;
	margin: 0;
	min-width: 320px;
	text-rendering: optimizeLegibility;
}

h1
{
	color: black;
	font-size: 1.25em;
	font-weight: 600;
	margin-top: 0.5em;
}

img
{
	max-width: 100%;
	height: auto;
}

ul, ol
{
	margin-top: -1em;
	padding-left: 1em;
}

li
{
	font-size: 0.8em;
}

footer
{
	text-align: center;
}

a:link, a:visited, a:active, a:hover
{
	color: #2B2B2B;
}

#hero_background
{
	background-color: #1F1F21;
}

#hero_content
{
	color: white;
	margin: 0 auto 0 auto;
	max-width: 50em;
	min-width: 320px;
	overflow: auto;
	padding: 2em 0.5em 0 0.5em;
}

#hero_content a:link,
#hero_content a:visited,
#hero_content a:active,
#hero_content a:hover
{
	color: white;
}

#hero_content_left
{
	float: left;
	max-width: 25%;
}

#hero_content_right
{	
	float: right;
	padding: 0 2.5% 0 2.5%;
	max-width: 70%;
}

#hero_name
{
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: 600;
	
	/*Needed to make first line have similar line height.*/
	display: inline-block;
	height: 1.5em;
}

#hero_description
{
	font-size: 1.75em;
	margin-top: -0.5em;
	margin-left: 0.14em;
}

#main_content
{
	clear: both;
	font-size: 1.75em;
	margin: 0 auto 0 auto;
	max-width: 25em;
	min-width: 320px;
	padding: 0 0.25em 0 0.25em;
}

#main_content p
{
	margin: 0;
}

#contact_list li,
#here_list li,
#elsewhere_list li
{
	list-style: none;
}

.fa-envelope
{
	color: #FF2A68;
}

.fa-twitter
{
	color: #34AADC;
}

.fa-phone
{
	color: #FF9500;
}

.fa-map-marker
{
	color: #0BD318;
}

.fa-github
{
	color: #1F1F21;
}

.fa-stack-overflow
{
	color: #FF9500;
}

.fa-plus
{
	color: #FF2A68;
}

.fa-thumb-tack
{
	color: #34AADC;
}

.fa-star
{
	color: #FFCC00;
}

.fa-gamepad
{
	color: #898C90;
}

#code_list li
{
	margin-bottom: 1em;
}
