body {
    background-color: whitesmoke;
}

h1, h2 {
    font-family: Futura;
}

h2 {
    font-size: 100%;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
}

footer p {
    font-size: small;
}
